<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">关于我</h2>
                    <h3 class="section-subheading text-muted">铅华是短,不堪挥霍.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }} target="_blank"">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                      </ul>
                    </div>
                </div>
                <div class="text-myself">
                        <h4>王冰冰(EsanWang)</h4>
                        <span>UI设计师</span>
                        &nbsp
                        <li> web UI,app UI,game UI,icon设计;</li> 
			<li> 熟练掌握Photoshop, Illstrator, axure等常用设计工具; </li>
			<li> 熟练使用git和github等版本管理工具;</li>
			<li> 了解html5,css语言，可以设计编写网站. </li>
			&nbsp
			<P>  了解当下设计的流行趋势及web端、手机端设计规范，注重用户体验，对色彩搭配有着浓厚的兴趣.</P>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>